<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2luZW1hfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Save your movies</h1>
    <p>Classic ones</p>
    <div>
    <%= link_to "Add a list", new_list_path, class: 'btn btn-flat'%>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-lg-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.movie_url %>)">
          <%= link_to list.name, list_path(list) %>
          <%= link_to "+", list_path(list),method: :delete, data: {confirm: "Are you sure"},class: "card-remove-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
